<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-logo">
        <h3>ThusFood<span class="point">.</span></h3>
        <span>
          Notre passion pour la cuisine se reflète dans chaque recette que nous partageons. Restez à l'affût des nouveautés et des délices culinaires en suivant notre aventure gastronomique        </span>
      </div>
      <div class="footer-navigation">
        <ul>
          <li><a routerLink="/recipes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">recipes</a></li>
          <li><a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a></li>
          <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a></li>
          <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  
  <div class="contain">
    <div class="footer-copyright">
      <div class="icon">
        
      </div>
      <div class="copy">
        &copy; 2024 Malthus<span>A.</span>
      </div>
      <div class="media">
        <ul class="social-media">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
