<div class="containers">
    <div class="left">
        <!-- Contenu de la colonne gauche -->
    </div>
    <div class="milieu">
        <div class="content-text container">
            <p class="hot-recipe"><i class="fa-solid fa-clipboard"></i> recipess Chaudes</p>
            
            <h3>Ailes de poulet épicées et délicieuses</h3>
            <p class="description">
                Découvrez cette recipes d'ailes de poulet épicées et croustillantes, parfaite pour vos soirées entre amis. Avec une marinade savoureuse et un mélange d'épices irrésistible, ces ailes de poulet sont aussi faciles à préparer qu'à déguster.
            </p>
            <div class="menu-info">
                <p><i class="fa-solid fa-clock"></i>  50 Minutes</p>
                <p><i class="fa-solid fa-utensils"></i>  Poulet</p>
            </div>
            <div class="container-info">
                <a href="#">
                    <div class="user-infos">
                        <div class="user"></div>
                        <div class="user-detail">
                            <span>ThusART</span> <br>
                            {{formattedDate}}
                        </div>
                    </div>
                </a>
                <div class="btn-infos">
                    <button class="btn-view">Voir la recipes <i class="fa-solid fa-play"></i></button>
                </div>
            </div>
            <div class="brake">
                <!-- Contenu de la section de séparation -->
            </div>
        </div>
        <div class="content-img">
            <!-- Image de la recipes -->
        </div>
    </div>
    <div class="right">
    </div>
</div>
