.containers {
    display: flex;
}
.left{
    width: 35px;
    background-color: rgb(207, 255, 253);
    height: 500px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 0 30px 30px 0;
}
.milieu{
    display: flex;
    width: calc(100% - 70px);
    height: 500px;
    margin: 20px 20px 0 20px;
}
.content-text{
    background-color: rgb(207, 255, 253);
    width:50%;
    border-radius: 30px 0 0 30px;
}
.content-img{
    width:50%;
    background: url("../../../../public/img-angular/food1.jpg") no-repeat;
    background-size: cover;
    border-radius: 0 30px 30px 0;
}
.right{
    width: 35px;
    background-color: rgb(207, 255, 253);
    height: 500px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 30px 0 0 30px;
}
.menu-info{
    display: flex;
    justify-content: flex-start;
}
.menu-info p{
    padding: 5px 20px;
    background-color: #ddd;
    border-radius: 30px;
    margin-right: 20px;
}
.hot-recipe{
    width: 25%;
    margin-top: 40px;
    padding: 8px;
    border-radius: 30px;
    background-color: #ddd;
    text-align: center;
}
.content-text h3{
    margin-top: 80px;
}
.container-info{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.container-info a{
    text-decoration: none;
    color: black;
}

.btn-view{
    background-color: rgb(27, 27, 27);
    color: #ddd;
    border-radius: 8px;
    border: 0;
    padding: 12px;
}

.user-infos{
    display: flex;
    align-items: center;
}
.user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("../../../../public/img-angular/avatar3.jpg") no-repeat;
    background-size: cover;
}
.user-detail{
    margin-left: 10px;
}
.user-detail span{
    font-size: 15px;
    font-weight: bold;
}
.brake{
    position: absolute;
    top: 160px;
    left: calc(50% - 80px);
    width: 150px;
    height: 150px;
    background: url("../../../../public/img-angular/brake.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
}