<div class="parent">
    <div class="content1">
        <h2>Blog & Article</h2>
        <p>
            Découvrez nos derniers articles et blogs pour rester informé des tendances culinaires, des conseils de cuisine et des recettes innovantes. Nos articles sont conçus pour vous inspirer et vous aider à améliorer vos compétences culinaires avec des astuces pratiques et des idées créatives.
        </p>
        
    </div>
    <div class="content2">
        <form action="">
            <div class="formu">
                <input type="text" name="rech" id="rech" placeholder="Rechercher un article, des nouvelles...">
                <input type="submit" name="btn-submit" value="Rechercher">
            </div>
        </form>
    </div>
</div>