<app-home></app-home>
<div class="page-content">
    <h1>Guide Complet pour Devenir Chef Professionnel</h1>
    <div class="author-infos">
        <div class="author">                    
        </div>
        <div class="author-name">
            Malthus A.
        </div>
        <div class="date">
            {{ formattedDate }}
        </div>
    </div>
    <div class="page-text">
        <p>
            Découvrez tout ce qu'il faut savoir pour devenir un chef professionnel. De la préparation des ingrédients à la maîtrise des techniques culinaires, ce guide complet vous fournira toutes les informations nécessaires pour exceller dans le monde de la gastronomie.
        </p>
    </div>
    <div class="page-img">

    </div>
</div>

<app-delice></app-delice>
<app-formu></app-formu>
<app-footer></app-footer>
