<app-home></app-home>
<div class="page-content">
    <div class="left">

    </div>
    <div class="container">
    <h1>Contact Us</h1>

    <form action="" method="post">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez votre nom">
        </div>

        <div class="col-md-6 mb-3">
          <label for="email" class="form-label">Adresse email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre adresse email">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="sujet" class="form-label">Sujet</label>
          <input type="text" class="form-control" id="sujet" name="sujet" placeholder="Entrez le sujet de votre message">
        </div>

        <div class="col-md-6 mb-3">
          <label for="typeEnquire" class="form-label">Type Enquire</label>
          <select class="form-control" id="typeEnquire" name="typeEnquire">
            <option value="question">Question</option>
            <option value="reclame">Réclamation</option>
            <option value="autre">Autre</option>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" name="message" rows="5" placeholder="Entrez votre message"></textarea>
      </div>

      <button type="submit" class="btn">Envoyer</button>
    </form>
  </div>
</div>
<app-formu></app-formu>
<app-delice></app-delice>
<app-footer></app-footer>