<div class="parent">
    <div class="fils-gauche">
        <div class="content-vide"></div>
        <div class="content-img">
    
        </div>
    </div>
    <div class="fils-milieu">
        <h3>Des délices directement dans votre boîte mai</h3>
        <p>
            Recevez des offres savoureuses directement dans votre boîte mail. Découvrez nos nouveautés, promotions et délices exclusifs, conçus pour éveiller vos papilles et vous offrir une expérience gastronomique exceptionnelle, tout cela sans quitter votre boîte de réception..
        </p>
        <form action="">
            <div class="formu">
                <input type="email" name="mail" id="mail" placeholder="Votre adresse Email......">
                <input type="submit" name="btn-submit" value="Souscrire">
            </div>
        </form>
    </div>
    <div class="fils-droit">
        <div class="content-vide"></div>
        <div class="content-img2">

        </div>
    </div>
</div>
