<div class="containers">
    <div class="content">
        <div class="content-left">
            <h1>Riz Frit Thusors Santé</h1>
            <div class="element">
                <div class="user-infos">
                    <div class="user"></div>
                    <div class="user-detail">
                        <span>Malthus A.</span> <br>
                        {{formattedDate}}
                    </div>
                </div>
                <div class="user-infos">
                    <div class="users"><i class="fa-solid fa-clock"></i></div>
                    <div class="user-detail">
                        <span>Temps de Préparation</span> <br>
                        20 Minutes
                    </div>
                </div>
                <div class="user-infos">
                    <div class="users"><i class="fa-solid fa-clock"></i></div>
                    <div class="user-detail">
                        <span>Temps de Cuisson</span> <br>
                        20 Minutes
                    </div>
                </div>
                <div class="user-infoss">
                    <div class="users"><i class="fa-solid fa-utensils"></i></div>
                    <div class="user-detail">
                        <span>Ingrédient Principal</span> <br>
                        Poulet
                    </div>
                </div>
                
            </div>
        </div>
        <div class="content-right">
            <div class="icon-group">
                <div class="print">
                    <i class="fa-solid fa-print"></i>
                </div>
                <span>IMPRIMER</span>
            </div>
            <div class="icon-group2">
                <div class="share">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                </div>
                <span>PARTAGER</span>
            </div>
        </div>
    </div>
    <div class="content-milieu">
        <div class="content-milieu-left">
            <iframe src="https://www.youtube.com/embed/gBJjRYk0yC0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="content-milieu-right">
            <div class="global-nutri">
                <h3>Informations Nutritionnelles</h3>
                <div class="nutri">
                    <p>Calories</p>
                    <span>221.8kcal</span>
                </div>
                <hr>
                <div class="nutri">
                    <p>Graisses Totales</p>
                    <span>10.7g</span>
                </div>
                <hr>
                <div class="nutri">
                    <p>Protéines</p>
                    <span>8.8g</span>
                </div>
                <hr>
                <div class="nutri">
                    <p>Glucides</p>
                    <span>21.8g</span>
                </div>
                <hr>
                <div class="nutri">
                    <p>Cholestérol</p>
                    <span>31.4mg</span>
                </div>
                <hr>
                <p class="para">Cette recette de riz frit japonais est non seulement savoureuse mais aussi excellente pour votre santé. Elle combine des ingrédients frais et nutritifs pour un repas équilibré.</p>
            </div>
        </div>
    </div>
    <div class="content-bas">
        <p>Ce riz frit japonais est parfait pour un déjeuner rapide ou un dîner léger. Il est préparé avec des légumes croquants et des morceaux de poulet tendres, le tout assaisonné avec des épices délicieuses pour une saveur exceptionnelle.</p>
    </div>
    <div class="general">
        <div class="ingredient">
            <h2>Ingrédients</h2>
            <div class="main">
                <h4>Pour le Plat Principal</h4>
                <div class="select">
                    <input type="radio" id="eat" name="eating">
                    <label for="eat">1 tasse de riz cuit</label>
                </div>
                <hr>
                <div class="select">
                    <input type="radio" id="eat" name="eating">
                    <label for="eat">200g de poulet coupé en dés</label>
                </div>
                <hr>
                <div class="select">
                    <input type="radio" id="eat" name="eating">
                    <label for="eat">1 carotte râpée</label>
                </div>
                <hr>
                <div class="select">
                    <input type="radio" id="eat" name="eating">
                    <label for="eat">1 oignon émincé</label>
                </div>
                <hr>
                <div class="select">
                    <input type="radio" id="eat" name="eating">
                    <label for="eat">2 cuillères à soupe de sauce soja</label>
                </div>
                <hr>
            </div>
            <div class="sauce">
                <h4>Pour la Sauce</h4>
                <div class="select">
                    <input type="radio" id="eat" name="eating">
                    <label for="eat">2 cuillères à soupe d'huile de sésame</label>
                </div>
                <hr>
                <div class="select">
                    <input type="radio" id="eat" name="eating">
                    <label for="eat">1 cuillère à soupe de miel</label>
                </div>
                <hr>
                <div class="select">
                    <input type="radio" id="eat" name="eating">
                    <label for="eat">1 cuillère à soupe de vinaigre de riz</label>
                </div>
                <hr>
                <div class="select">
                    <input type="radio" id="eat" name="eating">
                    <label for="eat">1 gousse d'ail émincée</label>
                </div>
                <hr>
            </div>
        </div>
        
        <div class="other">
            <h2>Autres Recettes</h2>
            <div class="recipe">
                <div class="recipe-img"></div>
                <div class="recipe-desc">
                    <h5>Boulette de Poulet aux Crèmes</h5>
                    <h6>avec Sauce Crémeuse...</h6>
                    <p>Par Andreas Paula</p>
                </div>
            </div>
            <div class="recipe">
                <div class="recipe-img2"></div>
                <div class="recipe-desc">
                    <h5>Boulette de Poulet aux Crèmes</h5>
                    <h6>Poulet Crémeux et...</h6>
                    <p>Par Andreas Paula</p>
                </div>
            </div>
            <div class="recipe">
                <div class="recipe-img3"></div>
                <div class="recipe-desc">
                    <h5>Boulette de Poulet aux Crèmes</h5>
                    <h6>Poulet et Riz à la Mijoteuse</h6>
                    <p>Par Andreas Paula</p>
                </div>
            </div>
            <div class="top-menu">

            </div>
        </div>
    </div>
    <div class="direction">
        <h2>Instructions</h2>
        <div class="select">
            <input type="radio" id="eat" name="eating">
            <label for="eat"><h5>1. Faites revenir le poulet</h5></label>
        </div>
        <div class="direct">
            <p>Dans une poêle chaude, faites revenir les dés de poulet jusqu'à ce qu'ils soient dorés. Ajoutez les légumes et faites sauter jusqu'à ce qu'ils soient tendres. Assaisonnez avec de la sauce soja.</p>
            <div class="direct-img"></div>
            <p>Assurez-vous que le poulet est bien cuit avant de passer à l'étape suivante. Vous pouvez ajouter un peu de miel pour une touche sucrée si vous le souhaitez.</p>
        </div>
        <hr>
        <div class="select">
            <input type="radio" id="eat" name="eating">
            <label for="eat"><h5>2. Préparez la sauce</h5></label>
        </div>
        <div class="par">
            <p>Dans un petit bol, mélangez l'huile de sésame, le miel, le vinaigre de riz et l'ail émincé. Versez la sauce sur le mélange de poulet et de légumes et mélangez bien.</p>
        </div>
        <hr>
        <div class="select">
            <input type="radio" id="eat" name="eating">
            <label for="eat"><h5>3. Servez</h5></label>
        </div>
        <div class="par">
            <p>Servez le riz frit chaud avec des légumes croquants et du poulet savoureux. Vous pouvez garnir avec des oignons verts ou des graines de sésame pour plus de saveur.</p>
        </div>
    </div>
</div>
