<div class="containers">
    
    <div class="milieu">
        <div class="content-text container">
            <h1>Chacun peut devenir chef dans sa propre cuisine</h1>
            <p class="description">
                 Découvrez comment nos recettes simples et savoureuses vous permettent de préparer des plats dignes des meilleurs restaurants, directement chez vous. Nous vous guidons avec des conseils et des ingrédients de qualité pour transformer votre cuisine en un véritable lieu de création culinaire
            </p>
            
            <div class="btn-infos">
                <button class="btn-view">Learn More</button>
            </div>
        </div>
        <div class="content-img">

        </div>
    </div>
    
</div>